<a href="https://colab.research.google.com/github/Jatinkumar2006/My-DataScience-Journey/blob/main/Day1_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a dynamically type and case sensetive language.

Python basics

In [7]:
#print output
#print(value,sep=" ",end="\n")
print("hello world");
print(9);
print(True);
print(5+6j);
print("hello",9,True,sep="-",end="#");
print(5+6j);

hello world
9
True
(5+6j)
hello-9-True#(5+6j)

Comments

In [8]:
#sinle line comment
""" Multi line comment
    use this for more than one line"""

' Multi line comment\n    use this for more than one line'

*Variables*   ---

Variables are used to hold the data during execution of program, because it is a dynamically type language so there is a no need to declare the type of variable.
   If there is a need of variable then just think its name and started to use it.

In [9]:
a=5;
b="Jatin"
print(a);
print(b);

#In python we can not only the variable value but also change its type as well.

x=7
print(x)
print(type(x)) # used to know the type of variable
x=9
print(x)  #value change
print(type(x))
x="jatin"
print(x) # value and type both change
print(type(x))

5
Jatin
7
<class 'int'>
9
<class 'int'>
jatin
<class 'str'>

Data types in python

In [10]:
#int
print(8)
print(-4)
#float
print(3.5)
print(-8)
#bool
print(True)
print(False)
#complex
print(3+5j)
#str
print("Jatin")
#list
print([1,2,3])
#tuple
print((1,2,3))
#set
print({1,2,3})
#dict
print({"name":"jatin","age":20})

8
-4
3.5
-8
True
False
(3+5j)
Jatin
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{'name': 'jatin', 'age': 20}

Assign multiple values to varibles

In [11]:
a=1
b=2
c=3
print(a,b,c);

#assign together
a,b,c=1,2,3
print(a,b,c);


a=b=c=1
print(a,b,c);

1 2 3
1 2 3
1 1 1

Keywords-

Reserved words, Predefined words

In [12]:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Type conversion

In [13]:
#Implict type conversionn - auto type conversion
print(5+5.6)    #int+float=float auto type conversion

#Explict type conversion
#print(5+'5')    # error
print(5+int('5'))

10.6
10

User Input

In [14]:
name=input("enter your name: ");   #by default str as input
age=int(input("enter your age:"));
print(name,age);

enter your name: jatin
enter your age:18
jatin 18

Literals

Value of variable is literal.

In [15]:
#binary literal
a=0b001
#Decimal literal
b=3445
#Octal literal
c=0x310
#complex literal
x=5+3j
print(x,x.real,x.imag)

(5+3j) 5.0 3.0

Unicode

like ascii code

In [16]:
#character to unicode
print(ord('A'))   # use ord()

#unicode to character
print(chr(69))    #use chr()

#decimal to binary
print(bin(10))

#binary to decimal
a=1001 #binary
#use "0b" before convert it to decimal to show that it is binary
print(0b1001)

#decimal to hexadecimal
print(hex(14))

#hexadecimal to decimal
# a=24AB #hexadecimal
#use "0x" before convert it to decimal to show that it is hexadecimal
print(0x24AB)


#same for octal

65
E
0b1010
9
0xe
9387

Operators in Python

In [17]:
#Arithmatic operator    +,-,*,/,//,%,**
print(7+5);     #addition
print(7-5);     #substraction
print(7*5);     #multiplication
print(7/5);     #True division
print(7//5);    #floor division(integer)
print(7%5);     #modulo(remiander)
print(2**3);    #power(exponenntial)
print("ab"+"AB");   #"+"   act as concation operator if used between strings
print(4*"AB");      # integer*string=integer times string  ABABABAB

12
2
35
1.4
1
2
8
abAB
ABABABAB

In [18]:
#Relational operator   <,>,<=,>=,==,!=      output- True/False
print(4>5)
print(5>4)
print(4<5)
print(4>=5)
print(4<=5)
print(4==4)
print(4==5)  #equality checker
print(4!=4)  #equality checker
print(4!=5)

False
True
True
False
True
True
False
False
True

In [19]:
#Logical operator   not,and,or
print(not True)
print(not 1)
print(1 and 0)
print(1 or 0)
print(4 and 3)
print(4 or 3)

False
False
0
1
3
4

In [20]:
#Assignment operator   =,+=,-=,*=,/=,//=,&=,^=,**=,>>=.<<=,%=
x=5
print(x)
x+=1 #x=x+1
print(x)
x-=1  #x=x-1
print(x)
x*=2  #x=x*2
print(x)

5
6
5
10

In [21]:
#Bitwise operator   &,|,^,~,>>,<<
print(2&3)   #bitwise and
print(2|3)   #bitwise or
print(2^3)   #bitwise xor
print(~2)    #bitwise not
print(2>>3)  #right shift
print(2<<3)  #left shift

2
3
1
-3
0
16

In [22]:
#Membership operator       in,not in          output-True/False      only applicable on iterables
print(2 in [1,2,3])
print(2 not in [1,2,3])
print('e' in 'MySirg')
print('y' in 'MySirg')

True
False
False
True

In [23]:
#Identity operator         is, is not       output-True/False      It checks wheater the two references refering to the same object or  not.
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x == y)     # True: values are equal
print(x is y)     # False: different memory locations
print(x is z)     # True: same memory location

print(x is not y) # True
print(x is not z) # False

True
False
True
True
False

Control Statement

Decision Control - if,if-else,if-elif-else,single line if-else

In [24]:
#if
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

In [25]:
#if-else
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [26]:
#if-elif-else
x = 0

if x > 0:
    print("Positive number")
elif x == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [27]:
# single line if-else
# code1 "if" condition "else" code2
num = 13
print("Even" if num % 2 == 0 else "Odd")

Odd

Match Statement



```
#Syntax
match variable:
    case value1:
        # code block
    case value2:
        # code block
    case _:
        # default block (like 'else')
```

In [28]:
day = 3

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Invalid day")

Wednesday

Conditional Case



```
#syntax
match variable:
    case pattern if condition:
        # code block
    case _:
        # default block```

In [29]:
x = 5

match x:
    case x if x > 0:
        print("Positive number")
    case x if x < 0:
        print("Negative number")
    case 0:
        print("Zero")

Positive number

Iterative control   - while, for

In [30]:
#while
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Break


*   break is a keyword
*   break is used to transfer the control from outside the loop.
*   break terminates the execution of loop.

In [31]:
i = 1

while i <= 10:
    if i == 6:
        break
    print(i)
    i += 1

1
2
3
4
5

Continue-

The continue statement is used to skip the current iteration of the loop and move to the next iteration, without executing the remaining code in the loop body for that iteration.

In [32]:
i = 0

while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

else with while loop

```
while condition:
    # loop body
else:
    # this runs if loop completes without break
```

In [33]:
i = 1

while i <= 3:
    print("i =", i)
    i += 1
else:
    print("Loop finished successfully")

i = 1
i = 2
i = 3
Loop finished successfully

pass Keyword in Python

The pass keyword is a placeholder that does nothing when executed. It's used when a statement is syntactically required but you don’t want to write any code yet.

In [34]:
x = 5

if x > 0:
    pass  # Placeholder for future code
else:
    print("x is not positive")

for loop            
   works on iterables(str,list,renge,tuple,dict)

In [35]:
for x in "mysirg":
  print(x)

m
y
s
i
r
g

In [36]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [37]:
for i in range(3):
    print("Loop:", i)
else:
    print("Loop finished!")

Loop: 0
Loop: 1
Loop: 2
Loop finished!