<a href="https://colab.research.google.com/github/Jatinkumar2006/My-DataScience-Journey/blob/main/Day1_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Learning" "Journey"
"With" "Me"
```
**Output**:
```
Data-Science-Learning-Journey-With-Me
```

Concept- [Seperator and End]

In [ ]:
a="Data"
b="Science"
c="Learning"
d="Journey"
e="With"
f="Me"
print(a,b,c,d,e,sep="-",end="-")
print(f)

Data-Science-Learning-Journey-With-Me

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
Celsius=float(input("enter celsius value:"));
Fahrenheit=(Celsius*(9/5))+32;
print("The Celsius =",Celsius,"Then Fahrenheit=",Fahrenheit);

The Celsius = 37.0 Then Fahrenheit= 98.60000000000001

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
a=int(input("Enter a number:"));
b=int(input("Enter a number:"));
print("Before swap:\n a=",a,"b=",b);
a=a+b;
b=a-b;
a=a-b;
print("After swap:\n a=",a,"b=",b);

Before swap:
 a= 56 b= 79
After swap:
 a= 79 b= 56

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
import math
x1=float(input("x1:"));
x2=float(input("x2:"));
y1=float(input("y1:"));
y2=float(input("y2:"));
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("distance is ",d);

distance is  1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
p=float(input("Principle Money:"));
r=float(input("Rate of Intrest:"));
t=float(input("Time period in years:"));
simple_intrest=(p*r*t)/100;
print("simple intrest is :",simple_intrest);

simple intrest is : 100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input("Enter number of heads: "))
legs = int(input("Enter number of legs: "))

# Let c = number of chickens
# Let d = number of dogs
# So, c + d = heads
# And, 2c + 4d = legs

# Solve:
# From first: c = heads - d
# Substitute into second:
# 2*(heads - d) + 4d = legs
# => 2*heads - 2d + 4d = legs
# => 2d = legs - 2*heads
# => d = (legs - 2*heads) / 2

dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

if dogs < 0 or chickens < 0 or (legs - 2 * heads) % 2 != 0:
    print("Invalid input: No such combination of dogs and chickens.")
else:
    print("Dogs ->", dogs)
    print("Chickens ->", chickens)

Dogs -> 1
Chickens -> 3

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n=int(input("n:"))
sum=(n*(n+1))/2;
print(sum,"is the sum of first",n,"natural numbers.");

15.0 is the sum of first 5 natural numbers.

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
a1=float(input("enter 1th term:"));
a2=float(input("enter 2nd term:"));
n=int(input("enter n:"));
an=a1+((a2-a1)*(n-1));
print("term is:",an);

term is: 5.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
n1=int(input("Enter n1:"));
d1=int(input("Enter d1:"));
n2=int(input("Enter n2:"));
d2=int(input("Enter d2:"));
d=d1*d2
n=(n1*d2)+(n2*d1);
sum=n/d;
print("sum of these is ",sum);

sum of these is  1.380952380952381

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
H=float(input("for tank H:"));
L=float(input("L:"));
B=float(input("B:"));
h=float(input("for glass h:"));
r=float(input("r:"));
V=L*B*H;
v=3.14*h*r*r;
n=V/v;
print("the number of glasses is:",n);

the number of glasses is: 849.2569002123142