<a href="https://colab.research.google.com/github/Jatinkumar2006/My-DataScience-Journey/blob/main/Day2_Pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Various iterables in python


*   range
*   list
*   tuple
*   str
*   set
*   dict



---

range


*   range is a class and immutable sequence.
*   it can contain only int type values , elements are indexed and 0 based counting index.
*   supports negative indexing also.

In [ ]:
# range(beg,end,step)-------------[beg,end)    beg--included      end---excluded
#range(x)    here beg=0 by default end=x   step=1 by default
print(range(1,10,2))
print(list(range(1,10,2)))
print(tuple(range(1,10,2)))
print(set(range(1,10,2)))
print(list(range(10,1,-2)))
r=range(1,10,2)
print(r[0])
print(r[-1])

for i in range(2, 10, 2):
    print(i, end=" ")

range(1, 10, 2)
[1, 3, 5, 7, 9]
(1, 3, 5, 7, 9)
{1, 3, 5, 7, 9}
[10, 8, 6, 4, 2]
1
9
2 4 6 8

list

*   list is a class and a iterable sequence also it is mutable and growable.
*   list can store hetrogenous.
*   list elements are indexed and supports negative indexing.

In [ ]:
#accessing list elements
l1=[50,20,80,5+6j,True,"abc"]
print(l1)
print(l1[0])
print(l1[1],l1[-1])

#access using loop
for i in l1:
  print(i)

l2=[] #empty list
print(l2)

[50, 20, 80, (5+6j), True, 'abc']
50
20 abc
50
20
80
(5+6j)
True
abc
[]

# operations on list

In [ ]:
l3=[50,20,30,80,10,60,40]
print(l3)

#deleting and element
del(l3[4])
print(l3)


#edit an element
l3[0]=100
print(l3)

[50, 20, 30, 80, 10, 60, 40]
[50, 20, 30, 80, 60, 40]
[100, 20, 30, 80, 60, 40]

In [3]:
#add new element in list
#list.append(value) -- is used to add an element in the last of the list
l=[10,20,30,40,50]
print(l)
l.append(60)
print(l)
l.append(250)
print(l)


#list.insert(index,value)  -- is used to add element at a specific index in the list and the reamining elements are shift forward.
age=[12,23,43,17,29,10]
print(age)
age.insert(2,59);
print(age)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 250]
[12, 23, 43, 17, 29, 10]
[12, 23, 59, 43, 17, 29, 10]

#Some built in methods  for list

In [10]:
age=[12,23,43,17,29,10]
print(age)

#length of list
print(len(age))

#minimum value in list
print(min(age))

#maximum value in list
print(max(age))

#sum of all elements in list
print(sum(age))

#sort -- don't change the list itself instead make a copy of it.
print(sorted(age))
print(age)

#reverse -- don't change the list itself instead make a copy of it.
print(list(reversed(age)))

age.reverse( )  # it reversed the list permenantly
print(age)

[12, 23, 43, 17, 29, 10]
6
10
43
134
[10, 12, 17, 23, 29, 43]
[12, 23, 43, 17, 29, 10]
[10, 29, 17, 43, 23, 12]
[10, 29, 17, 43, 23, 12]

#slicing operator

In [15]:
#list[beg:end:step]
l1=[20,40,10,30,60,50]
#by default step=1
print(l1[2:6:2]);
print(l1[4:0:-1]);

#reverse list
print(l1[::-1])

[10, 60]
[60, 30, 10, 40]
[50, 60, 30, 10, 40, 20]

#list of list

In [17]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
print(l1[0])
print(l1[0][1])

[1, 2, 3]
2

In [24]:
#remove an element from list
l1=[20,40,10,30,20,60,40,50]
print(l1)
l1.remove(40)  #remove only first accurence of an element
print(l1)

l1.pop()       # it remove last element from list
print(l1)

l1.pop(2)     # it remove element at index 2
print(l1)

l1.clear()    #remove all element
print(l1)

[20, 40, 10, 30, 20, 60, 40, 50]
[20, 10, 30, 20, 60, 40, 50]
[20, 10, 30, 20, 60, 40]
[20, 10, 20, 60, 40]
[]

In [26]:
l1=[20,40,10,30,20,60,40,50]
#index of an element
print(l1.index(40))     #return the first accurance index of the elemnt in list

#count element
print(l1.count(40))

1
2

Create list using user input

In [29]:
n=int(input("how many elements you want to enter:"))
L=[]
i=0
while i<n:
  L.append(int(input("enter element:")))
  i+=1
print(L)

how many elements you want to enter:5
enter element:33
enter element:2
enter element:3
enter element:4
enter element:5
[33, 2, 3, 4, 5]

#list comprehension
#[expression for variable in iterable]

In [30]:
print([(2*x) for x in range(1,6)])

[2, 4, 6, 8, 10]