<a href="https://colab.research.google.com/github/Jatinkumar2006/My-DataScience-Journey/blob/main/Day3_pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

continue to iterables....

str-

str is a class,mutable,iterable,hashableand a sequence.

In [ ]:
s1="Jatin";
s2='Jatin';
s3="""Jatin""";
s4='''Jatin''';
s5=str();   #empty string
s6=str(521);   #'521'  int--->str change
print(s1,s2,s3,s4,s5,s6);

Jatin Jatin Jatin Jatin  521

In [ ]:
#accessing elements using index
s1="Jatin";
print(s1[0]);
print(s1[-1]);
print( );

##accessing elements using loop
for i in s1:
    print(i);

J
n

J
a
t
i
n

In [ ]:
#comparison
s1="abc";
s2="ABC";
print(s1>s2);    #compare based on unicode value
print(s1<s2);
print(s1==s2);
print(s1!=s2);

False
True
False
True

In [ ]:
#str object methods
s1="Jatin Kumar";
print(s1.index("n"));   #it returns the first element index
print(s1.count("a"));
print(s1.startswith("Ja"));
print(s1.endswith("r"));
print(s1.upper());
print(s1.replace("K","k"));

4
2
True
True
JATIN KUMAR
Jatin kumar

str format

string.format(var1,var2....);

In [ ]:
s1="Jatin";
print("{},how are you?".format(s1));     #don't give space btw {}
print("I am fine,{}".format("Nikita"));
print("Nikita what's your age {} or {}?".format(18,19));
print("{1},{0},{2} Guess how old I looks like".format(18,17,19));     #we can change the order of filling the blocks by putting value on them like 0,1,2 like index value

Jatin,how are you?
I am fine,Nikita
Nikita what's your age 18 or 19?
17,18,19 Guess how old I looks like

Split( ) and join( );

In [24]:
#split()             str--->list
s1="jodhpur the sun city"
l1=s1.split(' ');  #seperate on the basis of space
print(l1);

s2="Hum tum dono double ";
l2=s2.split('o')   #seperate on the basis of 'o'
print(l2)

#join           list---->str
l3=["25","12","2001"];
s3="-".join(l3);     #join with '-'
print(s3);
print(str(s3));

['jodhpur', 'the', 'sun', 'city']
['Hum tum d', 'n', ' d', 'uble ']
25-12-2001
25-12-2001