<a href="https://colab.research.google.com/github/Jatinkumar2006/My-DataScience-Journey/blob/main/Day_11_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
group_dict = {}

for t in test_list:
    first = t[0]
    rest = t[1:]

    if first in group_dict:
        group_dict[first] += rest
    else:
        group_dict[first] = rest

result = []
for key in group_dict:
    new_tuple = (key,) + group_dict[key]
    result.append(new_tuple)

print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
tup = (1, 5, 7, 8, 10)

#  Convert it to a list (tuples are immutable)
res = []

#  Loop through the elements using index
for i in range(len(tup)):
    if i == 0:
        res.append(tup[i] * tup[i + 1])  # First element * next
    elif i == len(tup) - 1:
        res.append(tup[i] * tup[i - 1])  # Last element * previous
    else:
        left = tup[i] * tup[i - 1]       # Current * previous
        right = tup[i] * tup[i + 1]      # Current * next
        res.append(left + right)

#  Convert result back to tuple
result_tuple = tuple(res)

#  Print the result
print(result_tuple)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

if t1 == t2:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

# Counters
list_count = 0
set_count = 0
tuple_count = 0

# Loop through each element and check its type
for item in list1:
    if isinstance(item, list):
        list_count += 1
    elif isinstance(item, set):
        set_count += 1
    elif isinstance(item, tuple):
        tuple_count += 1

# Print result
print(f"List-{list_count}")
print(f"Set-{set_count}")
print(f"Tuples-{tuple_count}")

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# Take number of records
n = int(input("Enter No of records: "))

# Create list to store student records
students = []

#  Take input for each student
for i in range(n):
    print(f"\nEnter Details of student-{i+1}")
    name = input("Enter Student name: ")
    education = input("Enter Higher Education: ")
    skill = input("Enter Primary Skill: ")
    year = input("Enter Year of Graduation: ")

    students.append((name, education, skill, year))  # Store as tuple

# Take Job Requirements
print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill: ")
req_education = input("Enter Higher Education: ")
req_year = input("Enter Year of Graduation: ")

# Filter and Show Matches
found = False

for student in students:
    if (student[1].lower() == req_education.lower() and
        student[2].lower() == req_skill.lower() and
        student[3] == req_year):
        print(student)
        found = True

if not found:
    print("No such candidate")

Enter Details of student-1

Enter Details of student-2

Enter Details of student-3

Enter Details of student-4

Enter Details of student-5

Enter Job Role Requirement
No such candidate

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Convert lists to sets
set1 = set(ar1)
set2 = set(ar2)
set3 = set(ar3)

# Find intersection (common elements)
common_elements = list(set1 & set2 & set3)

#  sort in reverse order to match expected output
common_elements.sort(reverse=True)

print(common_elements)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# Define the string
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

# Define all vowels (case-sensitive)
vowels = set('aeiouAEIOU')

# Use set comprehension to collect unique vowels from the string
unique_vowels = {ch for ch in Str1 if ch in vowels}

# Print the result
print("No of unique vowels-", len(unique_vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# Take input from user
user_input = input("Enter a string: ")

# Convert string to set to find unique characters
unique_chars = set(user_input)

# Check if exactly 2 unique characters
if len(unique_chars) == 2:
    print("Yes")
else:
    print("No")

No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
arr = [
    [1, 2, 2, 4, 3, 6],
    [5, 1, 3, 4],
    [9, 5, 7, 1],
    [2, 4, 1, 3]
]

#  Use set to store unique elements
union_set = set()

#  Loop through each sublist and add elements to the set
for sublist in arr:
    union_set.update(sublist)  # update() adds multiple elements

#  Convert set to sorted list
result = sorted(list(union_set))

#  Print result
print(result)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

intersection = [x for x in lst1 if x in lst2]

print(intersection)

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

# Use max() with key argument
result = max(test_dict, key=lambda k: len(set(test_dict[k])))

#  Print the result
print(result)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# Input string and replacement dictionary
test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

# Split the sentence into words
words = test_str.split()

#  Replace words using dictionary
replaced = [repl_dict.get(word, word) for word in words]

#  Join the words back into a sentence
result = ' '.join(replaced)

print(result)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

# Length of each group
group_size = len(key_list)

#  Use list comprehension + zip() + slicing
result = [
    dict(zip(key_list, test_list[i:i + group_size]))
    for i in range(0, len(test_list), group_size)
]

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
data = [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]

# Use dictionary comprehension
result = {key: [value] for key, value in data}

print(result)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# Input dictionary
data = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

# Use dictionary comprehension with sorted keys
# Sort the values for each key
result = {key: sorted(data[key]) for key in sorted(data)}

print(result)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}